<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHbIAdGZiHeGSoVgaVJ3HU8nkx8YRXA5s</string>
	<key>GCM_SENDER_ID</key>
	<string>941001719213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chapApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-5382e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-5382e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941001719213:ios:f62c5d6db2ccea12853524</string>
</dict>
</plist>